* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
}

header {
  min-height: 500px;
  width: 100%;
  background-image: url("../images/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: darkblue;
  color: white;
  display: inline-block;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.center-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.top-info {
  padding: 30px;
}

.btn {
  text-decoration: none;
  color: white;
  display: inline;
  margin: 30px;
  padding: 15px 50px;
  border: 1px gray solid;
  background-color: #353839;
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.text1 {
  width: 45%;
  vertical-align: top;
  margin: 15px;
  padding: 0 5px 20px 5px;
  columns: 2;
}

.card-img {
  width: 250px;
  height: 250px;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}

.cardtext {
  font-size: initial;
}

p {
  text-align: justify;
  display: inline-block;
  font-size: initial;
}
.cardsstyle {
  background-color: #353839;
  padding: 30px;
  width: 100%;
  margin-top: 40px;
  box-sizing: border-box;
}

.cards {
  background-color: white;
  width: 250px;
  min-height: 500px;
  border-radius: 10px;
  vertical-align: top;
  display: inline-block;
  margin: 0 10px;
}

.bot-info {
  margin: 25px;
  width: 60%;
  text-align: center;
}

.about-contact {
  overflow: hidden;
}

.abt-text {
  padding: 10px auto;
  margin: 25px;
}

.about1,
.about2 {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: top;
  min-height: 230px;
  padding-left: 20px;
  padding-right: 20px;
}
.about1 {
  background-color: dodgerblue;
  color: aliceblue;
}
.about2 {
  background-color: #353839;
  color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
}
.contact {
  max-width: 90%;
  max-height: 90%;
}

.foot {
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  padding: 25px;
  /* text-align: center; */
}
.foot-text {
  /* column-count: 2; */
  column-gap: 10px;
}

.link {
  text-decoration: none;
  color: white;
}
